/* .hd
{
    background-color: rgb(157, 62, 62);
        100: "#ffcccc",
        200: "#ff9999",
        300: "#ff6666",
        400: "#ff3333",
        500: "#ff0000",
        600: "#cc0000",
        700: "#990000",
        800: "#660000",
        900: "#330000"

        blue: {
          100: "#cce7ff",
          200: "#99cfff",
          300: "#66b8fe",
          400: "#33a0fe",
          500: "#0088fe",
          600: "#006dcb",
          700: "#005298",
          800: "#003666",
          900: "#001b33"

          teal: {
          100: "#ccf3ec",
          200: "#99e7d9",
          300: "#66dcc5",
          400: "#33d0b2",
          500: "#00c49f",
          600: "#009d7f",
          700: "#00765f",
          800: "#004e40",
          900: "#002720"

          orange: {
          100: "#ffedcc",
          200: "#ffdb99",
          300: "#ffc966",
          400: "#ffb733",
          500: "#ffa500",
          600: "#cc8400",
          700: "#996300",
          800: "#664200",
          900: "#332100"

          indigo: {
          100: "#ccdcd9",
          200: "#99b8b3",
          300: "#66958c",
          400: "#337166",
          500: "#004e40",
          600: "#003e33",
          700: "#002f26",
          800: "#001f1a",
          900: "#00100d"
},

          red: {
          100: "#eadbcc",
          200: "#d5b799",
          300: "#c09366",
          400: "#ab6f33",
          500: "#964b00",
          600: "#783c00",
          700: "#5a2d00",
          800: "#3c1e00",
          900: "#1e0f00"
},
},
},
},
},
} */
backgro
{
    background-color: orange;
}